:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #fff788de;
    background: linear-gradient(to right top, #0c0d2b, #211a02) fixed;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
  
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

  
button {
    border-radius: 0.8em;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #301d64;
    color: #fff788de;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #fff788de;
 }
button:focus,
button:focus-visible {
    outline: 0.1em auto -webkit-focus-ring-color;
}


select {
    /* Reset Select */
    appearance: none;
    outline: 0.1em #646cff;
    border: 0.1em;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0.1em 1em;
    color: #fff788de;
    background-color: #301d64;
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5px;
    font-size: 1em;
    display: flex;
    width: 10em;
    height: 1.7em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.15em;
    background-color: #3b3d56;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }